<div class="cal-search-input" [class.disabled]="isDisabled">
	<input #searchInput type="text" placeholder="{{placeholder}}"  (keydown.enter)="search()" [(ngModel)]="query"
        [matAutocomplete]="auto" [disabled]="isDisabled" (ngModelChange)="valueChange($event)" data-cy="search-input">
	<mat-checkbox *ngIf="option" (click)="optionClicked()" [disabled]="isDisabled" [(ngModel)]="option.selected"
		class="option-checkbox" color="primary">{{option.label}}</mat-checkbox>
	<mat-icon class="icon-search" (click)="search()">search</mat-icon>

	<mat-autocomplete #auto="matAutocomplete">
		<mat-option *ngFor="let option of filteredOptions" [value]="option">
			<mat-icon class="history-icon" svgIcon="icon-recent"></mat-icon>{{ option }}
		</mat-option>
	</mat-autocomplete>
</div>