// @import "~@calypso-webcore/styles/styles/abstracts/_variables";
@import '../../abstract/src/_variables.scss';

$border-color: rgba(34, 122, 226, 0.5);
$icon-light: #c4c4c4;
$disabled-background: rgb(235, 235, 228);
$disabled-border: rgba(189, 189, 189, 0.68);

.cal-search-input {
  height: 35px;
  display: flex;
  border: 1px solid $border-color;
  background-color: $white;
  border-radius: 2px;

  &.disabled {
    background-color: $disabled-background;
    border-color: $disabled-border;

    .mat-checkbox.option-checkbox {
      border-left-color: $disabled-border;
    }

    mat-icon.icon-search {
      cursor: default !important;
      border-left-color: $disabled-border;
      ::ng-deep
       svg path {
        stroke: map-get($grey, 400);
      }
    }
  }

  input {
    padding: 0px 0px 0px 13px;
    border: none;
    flex: 1;

    &:focus,
    &:active {
      outline: none;
    }
  }

  .mat-checkbox.option-checkbox {
    padding: 0px 10px 0px 10px;
    display: flex;
    border-left: 1px solid $border-color;
    margin: 5px 0px;

    ::ng-deep .mat-checkbox-label {
      align-self: center;
      font-size: 14px;
      line-height: 36px;
    }
  }

  mat-icon.icon-search {
    align-self: center;
    padding: 1px;
    border-left: 1px solid $border-color;
    width: 36px;
    ::ng-deep
    svg path {
      stroke: #227ae2; // var(--primary-bright);
    }
    &:hover {
      cursor: pointer;
      ::ng-deep
      svg path {
        stroke: #227ae2; // var(--primary-bright);
        stroke-width: 2px;
      }
    }
  }
}

::ng-deep
 .mat-autocomplete-panel {
  .mat-option {
    mat-icon.history-icon {
      font-size: 20px;
      margin-right: 5px;
      svg path {
        fill: $icon-light;
      }
    }

    &:hover {
      mat-icon.history-icon {
        ::ng-deep 
        svg path {
          fill: #227ae2; // var(--primary-bright);
        }
      }
    }
  }
}