/*** Material Sliders ***/
.mat-slider {
  // primary, basic
  &.mat-primary,
  &.mat-basic,
  &.mat-primary.mat-slider-min-value,
  &.mat-basic.mat-slider-min-value {
    .mat-slider-thumb,
    .mat-slider-thumb-label,
    .mat-slider-track-fill {
      background-color: map-get($primary, 500);
      border-color: map-get($primary, 500);
    }
  }

  // accent
  &.mat-accent,
  &.mat-accent.mat-slider-min-value {
    .mat-slider-thumb,
    .mat-slider-thumb-label,
    .mat-slider-track-fill {
      background-color: map-get($accent, 500);
      border-color: map-get($accent, 500);
    }
  }

  // warn
  &.mat-warn,
  &.mat-warn.mat-slider-min-value {
    .mat-slider-thumb,
    .mat-slider-thumb-label,
    .mat-slider-track-fill {
      background-color: map-get($error, 500);
      border-color: map-get($error, 500);
    }
  }

  // disabled
  &.mat-primary,
  &.mat-accent,
  &.mat-warn {
      &.mat-slider-disabled{
          opacity: 0.4;
      }
  }

  &.mat-slider-min-value:not(.mat-slider-thumb-label-showing) {
    & .mat-slider-thumb,
    &:hover .mat-slider-thumb,
    &.cdk-focused .mat-slider-thumb {
      border-color: transparent;
    }
  }
}
