<div class="cal-double-list" data-cy="cal-double-list">
	<div class="list" data-cy="double-list-available">
		<h6 class="title" data-cy="double-list-available-title">
			Available
			<span
        class="count"
        *ngIf="items?.length > 0"
        data-cy="double-list-available-count"
        >({{items.length}})</span>
		</h6>
		<cal-search-input [(searchTerm)]="availableSearch" (onSearch)="searchAvailable($event)"
			(onKeyUp)="filterAvailable($event)" [isDisabled]="items?.length === 0"
			data-cy="double-list-available-search">
		</cal-search-input>
		<div class="item-list available-items">
			<div class="item" *ngFor="let item of filteredItems" (click)="select(item)"
				[attr.data-cy]="itemAsText(item).split(' ').join('-') | lowercase">
				<span>{{itemAsText(item)}}</span>
				<mat-icon class="icon-arrow">arrow_downward</mat-icon>
			</div>
			<div *ngIf="filteredItems.length === 0" class="empty" data-cy="double-list-empty-label">
				No items available
			</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="list" data-cy="double-list-selected" [class.with-controls]="positionControls">
		<h6 class="title" data-cy="double-list-selected-title">
			Selected
			<span
        class="count"
        *ngIf="selectedItems?.length > 0"
        data-cy="double-list-selected-count"
        >({{selectedItems.length}})</span>
			<span
        class="clear-all"
        (click)="clearAll()"
        *ngIf="selectedItems?.length > 0"
        data-cy="double-list-selected-clear"
        >Clear all</span>
		</h6>
		<cal-search-input (onSearch)="searchSelected($event)" (onKeyUp)="filterSelected($event)"
			[(searchTerm)]="selectedSearch" [isDisabled]="selectedItems?.length === 0"
			data-cy="double-list-selected-search">
		</cal-search-input>
		<div class="item-list selected-items">
			<div class="item" *ngFor="let item of filteredSelectedItems" (click)="selectedItemClick(item)"
				[attr.data-cy]="itemAsText(item).split(' ').join('-') | lowercase"
				[class.selected]="currentSelected === itemAsText(item)">
				<span>{{itemAsText(item)}}</span>
				<mat-icon class="icon-remove" (click)="unselect(item)">remove</mat-icon>
			</div>
			<div *ngIf="filteredSelectedItems.length === 0" class="empty" data-cy="double-list-empty-label">
				{{noItemsSelectedText}}
			</div>
		</div>
	</div>
	<div class="position-controls" *ngIf="positionControls">
		<button mat-icon-button [disabled]="!currentSelected" (click)="moveToTop()">
      <mat-icon class="up-control">first_page</mat-icon>
    </button>
		<button mat-icon-button [disabled]="!currentSelected" (click)="moveUp()">
      <mat-icon>expand_less</mat-icon>
    </button>
		<button mat-icon-button [disabled]="!currentSelected" (click)="moveDown()">
      <mat-icon>expand_more</mat-icon>
    </button>
		<button
      mat-icon-button
      [disabled]="!currentSelected"
      (click)="moveToBottom()"
    >
      <mat-icon class="down-control">first_page</mat-icon>
    </button>
	</div>
</div>