
.demo {
  width: 100%;

  h3 {
    font-weight: bold;
    margin: 15px 0px;
  }

  .white-bkg {
    background: white;
    height: 100%;
  }

  .resizable-container-wrapper {
    width: 100%;
    position: relative;

    cal-resizable-container {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .non-resizable-container {
    height: 400px;
  }

  .container-height {
    height: 200px;
  }

  &.demo4 {
    & > div {
      display: flex;
      height: 500px;
    }

    .demo4-resizable {
      height: 500px;
      width: 500px;
      position: relative;

      cal-resizable-container {
        position: absolute;
      }
    }
  }
}

.flex-demo {
  display: flex;
  flex-direction: column;
  height: 500px;

  & > div {
    flex: 1;
  }
}

.horizontal-flex-demo {
  display: flex;
  flex-direction: row;
  height: 500px;

  cal-resizable-container {
    flex: 1;
  }
}
.grow-4 {
  flex-grow: 4 !important;
}
.boxes {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  flex: 1;

  &.vertical-boxes {
    flex-direction: column;
  }

  .box {
    background: red;
    max-width: 100px;
    max-height: 100px;
    flex: 1;
    margin: 5px;
  }
}
