/*** Material SnackBars ***/
.mat-dialog-container {
  min-width: 25vw;
  max-width: 50vw;

  .mat-dialog-title {
    line-height: 2.1rem;
    font-size: 1.8rem;
  }

  .mat-icon-button.dialog-close {
    float: right;
    img {
        vertical-align: baseline;
        height: 2.4rem;
    }
  }

  .mat-dialog-content {
    padding-bottom: 1em;
    border-bottom: 1px solid map-get($grey, 300);
  }
  
}
