.demo {
  margin-bottom: 35px;
}

.title {
  display: inline-block;
  margin-bottom: 15px;
}

.double-list-container {
  background-color: #fff;
  max-width: max-content;
  height: 300px;
  padding-bottom: 20px;
}
