/*** Material Checkboxes ***/
mat-checkbox.mat-checkbox {

  .mat-checkbox-frame {
    border-radius: 2px;
  }

  .mat-checkbox-label {
    // label styles
    font-weight: 400;
    font-size: 16px;
  }

  &.mat-checkbox-checked {
    border-radius: 2px;
    // no color, basic, primary
    &,
    &.mat-basic,
    &.mat-primary {
      .mat-checkbox-background {
        background-color: #227ae2; // var(--primary-bright);
        border-color: #227ae2; // var(--primary-bright);
      }
    }

    // accent
    &.mat-accent {
      .mat-checkbox-background {
        background-color: #ff9900; // var(--accent-bright);
        border-color: #ff9900; // var(--accent-bright);
      }
    }

    // warn
    &.mat-warn {
      .mat-checkbox-background {
        background-color: map-get($error, $key: 500);
        border-color: map-get($error, $key: 500);
      }
    }

    // disabled
    &.mat-checkbox-disabled {
      opacity: 0.38;
    }
  }
}

/*** material pseudo checkbox options ***/
/* all */
.mat-pseudo-checkbox.mat-pseudo-checkbox-checked {
  background-color: #227ae2; // var(--primary-bright) !important;
  border-color: #227ae2; // var(--primary-bright) !important;
}
