@mixin init-angular-theme($primary, $secondary, $warn) {
  $app-primary: mat-palette($primary);
  $app-accent: mat-palette($secondary);
  $app-warn: mat-palette($warn);
  $app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
  @include angular-material-theme($app-theme);
}

@mixin border-bottom-radius($radius) {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-top-radius($radius) {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin Caption-disabled {
    font-family: $font-family;
    font-size: 1rem !important;
    font-weight: 300;
    line-height: 1.4;
    text-align: left;
    color: map-get($grey, 800);
  }
  @mixin Caption-disabled {
    font-family: $font-family;
    font-size: 1rem !important;
    font-weight: 300;
    line-height: 1.4;
    text-align: left;
    color: $white;
  }
  @mixin H6-body-disabled {
    font-family: $font-family;
    font-size: 1.2rem !important;
    font-weight: 300;
    line-height: 1.33;
    text-align: left;
    color: map-get($grey, 800);
  }
  @mixin H6-body-disabled {
    font-family: $font-family;
    font-size: 1.2rem !important;
    font-weight: 300;
    line-height: 1.33;
    text-align: left;
    color: $white;
  }
  @mixin H1-Headline {
    font-family: $font-family;
    font-size: 1.6rem !important;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    color: $white;
  }
  @mixin H2-Title {
    font-family: $font-family;
    font-size: 1.4rem !important;
    font-weight: bold;
    line-height: 1.29;
    text-align: left;
    color: map-get($grey, 800);
  }
  @mixin Display-1 {
    font-family: $font-family;
    font-size: 1.8rem !important;
    font-weight: 300;
    line-height: 1.33;
    text-align: left;
    color: $white;
  }
  @mixin Display-2 {
    font-family: $font-family;
    font-size: 2rem !important;
    font-weight: 300;
    line-height: 1.8;
    text-align: left;
    color: $white;
  }
  @mixin Display-4 {
    font-family: $font-family;
    font-size: 3.6rem !important;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    color: $white;
  }
  @mixin Display-1 {
    font-family: $font-family;
    font-size: 1.8rem !important;
    font-weight: 300;
    line-height: 1.33;
    text-align: left;
    color: map-get($grey, 800);
  }
  @mixin H1-Headline {
    font-family: $font-family;
    font-size: 1.6rem !important;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    color: map-get($grey, 800);
  }
  @mixin H2-Title {
    font-family: $font-family;
    font-size: 1.4rem !important;
    line-height: 1.29;
    text-align: left;
    color: $white;
  }
  @mixin Display-2 {
    font-family: $font-family;
    font-size: 2rem !important;
    font-weight: 300;
    line-height: 1.8;
    text-align: left;
    color: map-get($grey, 800);
  }
  @mixin Display-3 {
    font-family: $font-family;
    font-size: 2.4rem !important;
    font-weight: 300;
    line-height: 2.25;
    text-align: left;
    color: $white;
  }
  @mixin Display-3 {
    font-family: $font-family;
    font-size: 2.4rem !important;
    font-weight: 300;
    line-height: 2.25;
    text-align: left;
    color: map-get($grey, 800);
  }
  @mixin Display-4 {
    font-family: $font-family;
    font-size: 3.6rem !important;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    color: map-get($grey, 800);
  }
  @mixin H4-Subhead-light-right-align {
    font-family: $font-family;
    font-size: 1.2rem !important;
    font-weight: 300;
    line-height: 1.33;
    text-align: right;
    color: map-get($grey, 800);
  }
  @mixin H5-Body-bold {
    font-family: $font-family;
    font-size: 1.2rem !important;
    font-weight: bold;
    line-height: 1.33;
    text-align: left;
    color: map-get($grey, 800);
  }
  @mixin H3-Subhead-bold {
    font-family: $font-family;
    font-size: 1.2rem !important;
    font-weight: bold;
    line-height: 1.33;
    text-align: left;
    color: map-get($grey, 800);
  }
  @mixin H5-Body-bold {
    font-family: $font-family;
    font-size: 1.2rem !important;
    font-weight: bold;
    line-height: 1.33;
    text-align: left;
    color: $white;
  }
  @mixin H3-Subhead-bold {
    font-family: $font-family;
    font-size: 1.2rem !important;
    font-weight: bold;
    line-height: 1.33;
    text-align: left;
    color: $white;
  }
  @mixin H5-Body-bold-disabled {
    font-family: $font-family;
    font-size: 1.2rem !important;
    font-weight: bold;
    line-height: 1.33;
    text-align: left;
    color: map-get($grey, 800);
  }
  @mixin H5-Body-bold-hint {
    font-family: $font-family;
    font-size: 1.2rem !important;
    font-weight: bold;
    line-height: 1.33;
    text-align: left;
    color: map-get($grey, 800);
  }
  @mixin Calypso---logotype {
    font-family: 'Nunito', sans-serif;
    font-size: 1.7rem !important;
    font-weight: 300;
    font-style: oblique;
    letter-spacing: 0.5px !important;
    text-align: left;
    color: $white;
  }
  @mixin --H6-body-centered {
    font-family: $font-family;
    font-size: 1.2rem !important;
    font-weight: 300;
    text-align: center;
    color: map-get($grey, 800);
  }
  @mixin --H2-Title-centered {
    font-family: $font-family;
    font-size: 1.4rem !important;
    font-weight: bold;
    line-height: 1.29;
    text-align: center;
    color: map-get($grey, 800);
  }
  @mixin Spec-body {
    font-family: $font-family;
    font-size: 2rem !important;
    font-weight: 300;
    font-style: italic;
    line-height: 1.8;
    text-align: left;
    color: map-get($grey, 800);
  }
  @mixin Spec-body-larg {
    font-family: $font-family;
    font-size: 7.2rem !important;
    font-weight: 300;
    font-style: italic;
    line-height: 1.67;
    text-align: left;
    color: map-get($grey, 800);
  }
  @mixin Spec-body-dark {
    font-family: $font-family;
    font-size: 2rem !important;
    font-weight: 300;
    font-style: italic;
    line-height: 1.8;
    text-align: left;
    color: $white;
  }
  @mixin --H6-body-centered {
    font-family: $font-family;
    font-size: 1.2rem !important;
    font-weight: 300;
    line-height: 1.33;
    text-align: center;
    color: $white;
  }
  @mixin --H4-Subhead-light-right-align {
    font-family: $font-family;
    font-size: 1.2rem !important;
    font-weight: 300;
    line-height: 1.33;
    text-align: right;
    color: $white;
  }
  @mixin --H2-Title-right-align {
    font-family: $font-family;
    font-size: 1.4rem !important;
    line-height: 1.29;
    text-align: right;
    color: $white;
  }
  @mixin --H2-Title-right-align {
    font-family: $font-family;
    font-size: 1.4rem !important;
    font-weight: bold;
    line-height: 1.29;
    text-align: right;
    color: map-get($grey, 800);
  }
  @mixin --H6-body-red-right-align {
    font-family: $font-family;
    font-size: 1.2rem !important;
    text-align: right;
    color: $tomato-two-two;
  }
  @mixin Calypso---logotype {
    font-family: 'Nunito', sans-serif;
    font-size: 1.7rem !important;
    font-weight: 300;
    font-style: oblique;
    letter-spacing: 0.5px !important;
    text-align: left;
    color: #002d56;
  }
  @mixin FormsLightLabelIdle {
    font-family: $font-family;
    font-size: 1.2rem !important;
    line-height: 1.33;
    text-align: left;
    color: $black-two-54;
  }
  @mixin FormsLightLabelRLT {
    font-family: $font-family;
    font-size: 1.2rem !important;
    line-height: 1.33;
    text-align: right;
    color: $black-two-54;
  }
  @mixin FormsLightPlaceholder {
    font-family: $font-family;
    font-size: 1.6rem !important;
    line-height: 1.5;
    text-align: left;
    color: rgba(0, 0, 0, 0.42);
  }
  @mixin FormsLightLabelFocus {
    font-family: $font-family;
    font-size: 1.2rem !important;
    line-height: 1.33;
    text-align: left;
    color: $teal-two;
  }
  @mixin FormsLightInput {
    font-family: $font-family;
    font-size: 1.6rem !important;
    line-height: 1.5;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
  }
  @mixin FormsRadioLabel {
    font-family: $font-family;
    font-size: 1.2rem !important;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
  }
  @mixin FormsCheckboxLabel {
    font-family: $font-family;
    font-size: 1.2rem !important;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);
  }
  @mixin FormsLightLabelError {
    font-family: $font-family;
    font-size: 1.2rem !important;
    line-height: 1.33;
    text-align: left;
    color: $orange-red-two;
  }
  @mixin FormsLightLabelErrorRTL {
    font-family: $font-family;
    font-size: 1.2rem !important;
    line-height: 1.33;
    text-align: right;
    color: $orange-red-two;
  }
  @mixin Column-Heading-Text-Style {
    font-family: $font-family;
    font-size: 1.2rem !important;
    text-align: left;
    color: $black-two-54;
  }
  @mixin --H3-Subhead-bold-right-align {
    font-family: $font-family;
    font-size: 1.2rem !important;
    font-weight: bold;
    line-height: 1.33;
    text-align: right;
    color: map-get($grey, 800);
  }
  @mixin --H5-Body-bold-centered {
    font-family: $font-family;
    font-size: 1.2rem !important;
    font-weight: bold;
    line-height: 1.33;
    text-align: center;
    color: $white;
  }
  @mixin dark {
    color: map-get($grey, 800) !important;
  }
  @mixin light {
    color: $white !important;
  }

  @mixin icon-color($color) {
    ::ng-deep & {
      svg g g,
      svg path {
          stroke: $color;
      }
    }
  }
