// @import '~@calypso-webcore/styles/styles/abstracts/_variables';
@import '../../abstract/src/_variables.scss';

.td-expansion-panel {
    line-height: 32px;
    vertical-align: middle;
    background: $white;
    color: map-get($grey, 800);
    font-size: 15px;

    &.td-expanded {
        .accordion-header:before {
            content: "\e313";
        }
    }

    .accordion-header {
        border-bottom: 1px solid map-get($grey, 200);
        padding: 0 20px 0 30px;
        font-weight: 500;

        &:before {
            font-family: "Material Icons";
            content: "\e315";
            font-size: 20px;
            color: $deep-blue;
            position: absolute;
            left: 7px;
        }

        &:hover, &:active {
            background-color: map-get($grey, 50);
        }

        button {
            position: absolute;
            top: -5px;
            right: 10px;
        }
    }

    ::ng-deep .accordion-content > * {
        font-weight: 300;
        padding: 0 20px 0 30px;
    }
}
