/*** Material Selects ***/
.mat-select-panel {
  .mat-option {
    padding: 0px 16px;
  }

  &.mat-primary:not(:disabled) {
    .mat-option:not(.mat-option-disabled) {
      &.mat-selected:not(.mat-option-multiple),
      &:focus,
      &:hover,
      &.mat-active {
        background-color: #edf4fd; // var(--primary-8);
        .mat-option-text {
          color: #0e45b4; // var(--font-color-bright);
        }
      }
    }
  }
}

.mat-select-trigger {
  .mat-select-value {
    color: #424242; // var(--font-color);
  }
  .mat-select-arrow {
    color: #227ae2; // var(--primary-bright);
  }
}
