.any-label {
  padding: 0 2rem;
  &.selected {
    font-weight: 600;
    color: #0e45b4; // var(--font-color-bright);
  }
}
.cal-autocomplete-multi-select {
  .selected-chip-list {
    .mat-chip {
      max-width: 190px;
    }

    .chip-text {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .display-container {
    display: flex;
    width: 100%;
  }

  .display-text {
    white-space: nowrap;
    transform: translateY(7px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 11px;
    flex-shrink: 0;
  }

  .autocomplete-text {
    &.displayTextInput {
      margin-left: 5px;
      transform: translateY(7px);
      color: #424242 !important; // var(--font-color) !important;
      flex: 1;

      &.mat-input-element:-ms-input-placeholder {
        color: transparent !important;
      }
    }

    &.long-text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 10px;
    }

    &:focus {
      .display-text {
        display: none;
      }
    }
  }

  .mat-icon.cancel-icon {
    font-size: 16px;
  }

  ::ng-deep .mat-form-field-flex {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ::ng-deep .mat-form-field-infix {
    display: flex;
    height: 60px;
    align-items: center;
    &:after {
      font-family: "Material Icons";
      content: "\e5c5";
      position: absolute;
      right: 0px;
      top: 18px;
      font-size: 18px;
      color: #227ae2; // var(--primary-bright);
    }
    .mat-form-field-label-wrapper {
      top: -3px;
    }
  }

  .form-disabled {
    ::ng-deep {
      .mat-form-field-infix {
        opacity: 0.66;
        cursor: default;
        &:after {
          color: rgba(0, 0, 0, 0.42);
        }
      }

      .mat-form-field-wrapper {
        .mat-form-field-underline {
          // fix: chip list does not apply material disabled styles automatically
          background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.42) 0%,
            rgba(0, 0, 0, 0.42) 33%,
            transparent 0%
          );
          background-size: 4px 100%;
          background-repeat: repeat-x;
          background-color: transparent;
          .mat-form-field-ripple {
            visibility: hidden;
          }
        }
      }
    }

    .mat-chip .mat-icon {
      cursor: default;
    }
  }

  ::ng-deep .opened {
    .mat-form-field-infix {
      &:after {
        top: 5px;
      }
    }
  }

  .mat-form-field {
    &.notEmpty {
      ::ng-deep .mat-form-field-infix:after {
        top: 18px;
      }
    }
  }

  ::ng-deep .mat-chip-list-wrapper {
    white-space: nowrap;
    flex-wrap: nowrap !important;
    overflow: hidden;
    margin: 4px -3px -5px;
  }

  .mat-chip-list {
    width: 100%;
  }
}

.mat-input-element.mat-chip-input {
  margin-top: 4px;

  &.muted {
    color: rgba(0, 0, 0, 0.54) !important; // var(--font-muted) !important;
  }
}

::ng-deep .autocomplete-multi-select-menu-panel {
  .mat-menu-content {
    background: #ffffff; // var(--widget-background);

    .flat-menu {
      .mat-checkbox-label {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .tree-container {
      margin-left: 10px;
      margin-bottom: 5px;
      min-width: 230px;
    }

    .no-items {
      text-align: center;
      margin-top: 8px;
    }

    .divider {
      border-top: 1px solid rgba(0, 0, 0, 0.21);
      margin: 0px 15px;
    }

    .mat-menu-item {
      padding: 0px;

      .mat-checkbox {
        display: flex;
        height: 100%;
        width: 100%;

        .mat-checkbox-layout {
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          padding: 0px 20px;

          .mat-checkbox-inner-container {
            margin: 0px 8px 4px 0px;
          }
        }
      }
    }
  }
}

::ng-deep .cal-autocomplete-multi-select-menu {
  position: relative;
  bottom: 17px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  max-width: min-content !important;
  max-height: 500px;
}

::ng-deep .hideMenu {
  visibility: hidden;
  position: absolute;
}
